{% extends 'benja/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="d-flex justify-content-center my-3">
    <div class="col-md-8 text-center">
    <h1 class="display-2 text-dark">Bienvenido(a) Benja/Juana</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex justify-content-center mb-3">
    <div class="col-md-8 text-center">
      <h3 class="font-weight-bold">Segunda Eco:
        <small class="text-muted">{{ fecha|date:'d M y' }}</small>
      </h3>
      <!--<img src="{% static 'benja/WhatsApp Image 2021-07-16 at 13.48.05.jpeg' %}" width="200" height="200">-->
      <hr>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex justify-content-center mb-3">
    <div class="col-md-8 text-center">
    {% for video in videos %}
    <video class="img-fluid" controls width="800" height="500">
      <source src="https://github.com/camposleyba/django3-Benja/blob/master/media/benja/videos/WhatsApp_Video_2021-07-22_at_23.25.38.mp4?raw=true" type='video/mp4'></source>
    </video>
      <h3 class="font-weight-bold mt-3">{{ video.title }}</h3>
      <p>{{ video.description }}</p>

    {% endfor %}
    <hr>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex justify-content-center mb-3">
    <div class="col-md-8 text-center">
  <br>
  {% for foto in fotos %}
  <img src="{{ foto.image.url }}" class="img-fluid" width="800" height="500">

    <h3 class="font-weight-bold mt-3">{{ foto.title }}</h3>
    <p>{{ foto.description }}</p>
    {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <form method="GET" action="{% url 'home' %}">
      {% csrf_token %}
      <button class="btn btn-success" type="submit"><-- 5 semanas</button>
    </form>
    <form method="GET" action="{% url 'semana11' %}">
      {% csrf_token %}
      <button class="btn btn-success" type="submit">11 semanas --></button>
    </form>
  </div>

</div>




{% endblock %}
