{% extends 'benja/base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center my-3">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
      <h1 class="display-2 text-dark">Bienvenido(a) Benja/Juana</h1>
      <!--<div class="row justify-content-center my-3">

      </div>-->
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
      <h3 class="font-weight-bold">Primera Eco:
        <small class="text-muted">{{ fecha|date:'d M y' }}</small>
      </h3>
      <!--<img src="{% static 'benja/WhatsApp Image 2021-07-16 at 13.48.05.jpeg' %}" width="200" height="200">-->
      <hr>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
    {% for video in videos %}
    <video class="img-responsive-upscale ng-scope" controls width="800" height="500">
      <source src="https://github.com/camposleyba/django3-Benja/blob/master/media/benja/videos/WhatsApp_Video_2021-07-15_at_20.57.52.mp4?raw=true" type='video/mp4'></source>
    </video>
      <h3 class="font-weight-bold mt-3">{{ video.title }}</h3>
      <p>{{ video.description }}</p>

    {% endfor %}
    <hr>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
  <br>
  {% for foto in fotos %}
  <img src="{{ foto.image.url }}" width="800" height="500">
    <h3 class="font-weight-bold mt-3">{{ foto.title }}</h3>
    <p>{{ foto.description }}</p>
    {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <form method="GET" action="{% url 'semana6' %}">
      {% csrf_token %}
      <button class="btn btn-success" type="submit">6 semanas --></button>
    </form>
  </div>

</div>




{% endblock %}
