{% extends 'benja/base.html' %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <h1 class="display-2 text-dark">Bienvenido Benja</h1>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h3 class="font-weight-bold">Primera Eco:
      <small class="text-muted">{{ fecha|date:'d M y' }}</small>
    </h3>
    <!--<img src="{% static 'benja/WhatsApp Image 2021-07-16 at 13.48.05.jpeg' %}" width="200" height="200">-->
    <hr>
    {% for video in videos %}
    <video class="img-responsive-upscale ng-scope" controls autoplay loop muted playsinline autobuffer preload width="800" height="500">
      <source src="{% static 'benja\WhatsApp_Video_2021-07-15_at_20.57.52.mp4' %}" type='video/mp4'></source>
    </video>
      <h3 class="font-weight-bold mt-3">{{ video.title }}</h3>
      <p>{{ video.description }}</p>
    {% endfor %}
    <hr>
    <br>
    {% for foto in fotos %}
    <img src="{{ foto.image.url }}" width="800" height="500">
      <h3 class="font-weight-bold mt-3">{{ foto.title }}</h3>
      <p>{{ foto.description }}</p>
      {% endfor %}
  </div>
</div>




{% endblock %}
